<div class="wrapper">
    <h1>BEACHES</h1>
    <div id='beaches'>
        <a href="/beach_detail">
            <div class='list_item' style='background-image:url("./img/haleiwa-beach.jpg");'>

                <div class="position-container">
                    <h2>haleiwa beach</h2>
                </div>
            </div>
        </a>
        <a href="/beach_detail">
            <div class='list_item' style='background-image:url("./img/turtle-beach.jpg");'>
                <div class="position-container">
                    <h2>turtle beach</h2>
                </div>
            </div>
        </a>
        <a href="/beach_detail">
            <div class='list_item' style='background-image:url("./img/mokolii-island.jpg");'>
                <div class="position-container">
                    <h2>mokolii island</h2>
                </div>
            </div>
        </a>
        <a href="/beach_detail">
            <div class='list_item' style='background-image:url("./img/lanikai-beach.jpg");'>
                <div class="position-container">
                    <h2>lanikai beach</h2>
                </div>
            </div>
        </a>
    </div>
</div>