<h1>BEACHES</h1>
<div id='beaches'>
    <a href="/beach_detail">
        <div class='list_item' style='background-image:url("http://placekitten.com/200/300");'>
            <h2>Kahanamoku Beach</h2>
        </div>
    </a>
    <a href="/beach_detail">
        <div class='list_item' style='background-image:url("http://placekitten.com/200/300");'>
            <h2>Kahanamoku Beach</h2>
        </div>
    </a>
    <a href="/beach_detail">
        <div class='list_item' style='background-image:url("http://placekitten.com/200/300");'>
            <h2>Keʻehi Lagoon Beach Park</h2>
        </div>
    </a>

</div>

{{#each beachlist}}
    <h2>{{beaches.beachname}}</h2>
{{/each}}