{{>usernav}}
{{!-- {{#each item}} --}}
<div class='container beach-details'>
    <h1>Heleiwa</h1>
    <p id='description'>Food Trucks and surfing for days</p>
    <div class='alert-date'>
        <h3>TODAY ALERTS</h3>
        <h3>SEP 23, 2018 2:00 PM</h3>
    </div>
    <div class='alert-container'>
        <div class="alert-item selected">
            <img src="../img/shark.png" class='icon' onclick="alert()">
            <h3>shark</h3>
        </div>
        <div class="alert-item">
            <img src="../img/jellyfish.png" class='icon' onclick="alert()">
            <h3>jellyfish</h3>
        </div>
        <div class="alert-item">
            <img src="../img/heat.png" class='icon' onclick="alert()">
            <h3>heat</h3>
        </div>
        <div id="alert" class='alert_detail'>
            <h2>shark</h2>
            <div class='detail-container'>
                <div class="detail_img"><img src="./img/danger.png" alt=""></div>
                <div class='detail'>
                    <h3>THE DANGER ZONE</h3>
                    <P>Cartilaginous fishes of predatory habit that constitute the order Selachii </P>
                </div>
            </div>
            <div class='detail-container'>
                <div class="detail_img"><img src="./img/safety.png" alt=""></div>
                <div class='detail'>
                    <h3>SAFETY TIPS</h3>
                    <P>Defend yourself with whatever weapons you can, Avoid using your, bare, hands or feet if you can avoid it; if not, concentrate your blows against the shark's delicate eyes or gills. A shark's snout is also said to be sensitive </P>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- {{/each}} --}}