{{>lifeguardnav}}
<button onclick="setAlert()">Set Alert</button>
<form action="/beach_detail" method='post'>
    <div id="alertDiv">
        <br>
        <label class="checkbox">One
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>

        <label class="checkbox">Two
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="checkbox">Three
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="checkbox">Four
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label>
            <input type="submit" name='=Complete' id=''>
        </label>
    </div>
</form>