<div class="container">
    <div class="logo">
        <img src="./img/logo.png" alt="">
    </div>
    <form action="/lifeguard" method='post' class='form'>
        <label for='user'>User Name:</label>
        <input type="text" placeholder="Enter Username" name="uname" id='user' required>
        <label for='password'>Password</label>
        <input type="password" placeholder="Enter Password" name="psw" id='password' required>
        <input type="submit" name='submit' id=''>
    </form>
    <br>{{>footer}}
</div>